@import "../../styles/color.scss";
$right-slider-width: 350px;
$footer-Heigth: 500px;
.XpathBox{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  .header{
  }
  .content{
    display: flex;
    flex-grow: 1;
    .leftSilder{
      flex-grow: 1;
    }
    .rightSilder{
      width: $right-slider-width;
    }
  }
  .footer{
    height: $footer-Heigth;
  }
}

input{
  border: none;
  outline:medium;
  padding: 3px 10px;
  color: $font-defult-color;
}