$defult-color:            #666;
$defult-bg-color:         #fefefe;
$main-color:              #4d99af;
$hover-bg-color:          #CAE1E7;
$defult-border-color:     #e5e5e5;
$color-green:             #D3F5EC;
$color-orange:            #F2CDBF;
$color-yellow:            #EDE3C7;
$color-default:           #BFBFBF;
$color-write:             #F5EDE6;
$color-plus-red:          #F28C8C;
$color-plus-orange:       #F2B8A2;
$color-plus-yellow:       #F2D1B3;
$color-blue:              #538EA6;
$color-plus-blue:         #2D5F73;
$font-defult-color:       #666;