@import "../../../styles/color.scss";
.xpathChooseBox{
  display: flex;
  position: relative;
  overflow-y: auto;

  .iframe{
    width: 100%;
    height: 100%;
  }
  .mask{
    position: absolute;
    border: dashed 1px $main-color;
    box-sizing: border-box;
    pointer-events: none;
  }
  .menu{
    position: absolute;
    width: 150px;
    background-color: $color-orange;

    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      border: solid 1px $color-plus-red;
      color: #fff;

      li{
        line-height: 36px;
        font-size: 14px;
        &:hover{
          cursor: pointer;
          background-color: $color-plus-red;
        }
      }
    }
  }
}

.choosed{
  background-color: $main-color !important;
  opacity: .3 !important;
}

.hide{
  display: none !important;
}