@import "../../styles/color.scss";

$panelHeader-height: 30px;
.panel{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px $main-color;

  .panelHeader {
    height: $panelHeader-height;
    text-align: left;
  }

  .openIcon, .closeIcon{
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    overflow: hidden;
    margin-right: 3px;
    &:hover{
      cursor: pointer;
    }
    &:after{
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border: solid 4px transparent;
      border-top: solid 8px $main-color;
    }

    &.hide{
      display: none;
    }
  }
  .closeIcon{
    &:after{
      border-top: solid 4px transparent;
      border-left: solid 8px $main-color;
    }
  }

  .domTreePanel {
    flex-grow: 1;
    padding: 5px;
    text-align: left;
    font-size: 12px;
    overflow-y: auto;
    .nodePanel {

      &.textNodePanel{
        padding-left: 11px;
      }

      .nodePanelHeader {
        &:hover{
          background-color: $hover-bg-color;
        }
      }

      .nodePanelcontaner {
        margin-right: 5px;
        .nodePanelContent {
          background: white;
          border-left: dotted 1px $color-plus-blue;
          padding-left: 3px;
        }

        .nodePanelfooter {

        }
      }

      &.closePanel {
        .nodePanelcontaner{
          height: 0;
          overflow: hidden;
        }
      }
    }
  }
}